<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="endpoint" value="https://pflausino.documents.azure.com:443/"/>
    <add key="authKey" value="9fUIFID3ptFBX5bQ0JpH6k8VmMaV05NxxsNEOActdm0A8oCCZgnnBMEYpjqrIcAikGxCYDtlLVa0VKvWXFnE5g=="/>
    <add key="database" value="Climber"/>
    <add key="collection" value="Items"/>
  </appSettings>
  <runtime>
    <gcServer enabled="true"/>
  </runtime>
</configuration>